<div>
    <!-- Encabezado de la página -->
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <img style="height: 150px;
        width: 150px;
        border-radius: 15px;
        flex-shrink: 0;
        object-fit: cover;" mat-card-avatar
                src="https://i.fbcd.co/products/resized/resized-750-500/l010e-6-e09-mainpreview-96da4453333b8d1eeb6aece57e0096b62b30a7a5d74dfb5c1b2909cac27b817d.jpg"
                alt="Foto de perfil">
            <span class="mat-card-title">Nombre de usuario</span>
            <span class="mat-card-subtitle">Descripción del usuario</span>
        </mat-card-header>
        <mat-card-content>
            <button mat-raised-button color="primary" (click)="addSong()">Subir canción</button>
            <button mat-raised-button color="accent" *ngIf="!isEditProfile" (click)="editProfile()">Editar perfil</button>
            <button mat-raised-button color="accent" *ngIf="isEditProfile" (click)="cancelEditProfile()">Cancelar</button>

        </mat-card-content>
        <mat-card-footer>
            <span>{{ canciones.length }} canciones</span>
            <span>{{ canciones.length }} vistas</span>
        </mat-card-footer>
    </mat-card>

    <!-- Contenedor de las canciones -->
    <div class="canciones-container">
        <!-- Tarjetas de canciones -->
        <mat-card class="cancion-card" *ngFor="let cancion of canciones">
            <mat-card-header class="cancion-card-header">
                <img mat-card-avatar src="{{ cancion.imagen }}" alt="{{ cancion.nombre }}">
                <div class="cancion-card-header-text">{{ cancion.nombre }} - {{ cancion.artista }}</div>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="{{ cancion.imagen }}" alt="{{ cancion.nombre }}">
                <button mat-raised-button color="primary" (click)="reproducirCancion(cancion)">Reproducir</button>
            </mat-card-content>
            <mat-card-footer>
                <span>{{ cancion.nombre }}</span>
                <span>{{ cancion.artista }}</span>
            </mat-card-footer>
        </mat-card>
    </div>
</div>

<!-- editar prerfil -->

<div *ngIf="isEditProfile">
    <app-editInfo></app-editInfo>
</div>